.glitchCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
}


.glitch-wrapper {
    position: relative;
    left: 0;
    display: inline-block;        

    .glitch-target {
        position: relative;
        z-index: 1;

        &.hidden {
            display: block !important;
            opacity: 0;
        }
    }
      
    .glitch-layer-container {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
    }  
}