.header {
    position: relative;
    min-height: 100vh;
    background-image: url('../images/headerbg.png');
    background-size: cover;
    background-position: 65% center;
    padding-top: 30vh;

    @include mq("md") {
        background-position: center center;
        padding-top: 20vh;
        padding-bottom: 5rem;
    }

    h1 {
        visibility: hidden;
        // margin: 5rem 0;
        // color: white;
        // text-transform: uppercase;
        // font-family: "boucherie-block", sans-serif;
        // font-weight: 400;
        // font-style: normal;
        // font-size: 5rem;
        // text-align: center;

        @include mq("md") {
            margin: 0;
            visibility: hidden;
        }
    }

    &__logo {
        display: block;
        max-width: 700px;
        margin-bottom: 5rem;

        @include mq("md") {
            position: absolute;
            top: 7rem;
            left: 0;
            margin-bottom: 0;
        }
    }

    &__news {
        @include mq("md") {
            padding-top: 60vh;
        }

        &__list {
            width: 100vw;
            margin-left: -2rem;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            overflow-x: scroll;
            box-sizing: border-box;

            @include mq("md") {
                overflow-x: hidden;
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
    }

    .card {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2.5rem;
        min-width: 350px;
        background: white;
        box-shadow: $drop-shadow;
        transition: all .3s ease;
        margin-right: 1rem;

        @include mq("md") {
            min-width: 0;
        }

        &:hover {
            background: #eee;
        }

        &__header {
            height: 90px;
        }

        &__title {
            margin: 0;
            font-family: 'Tablon';
            pointer-events: none;
        }

        &__date {
            margin-top: 0;
            font-size: 0.875rem;
            color: #666;
            pointer-events: none;
        }

        &__content {
            margin: 0;
            pointer-events: none;
        }

        a {
            color: black;
            text-decoration: none;
        }
    }
}