.section-media {
    min-height: 600px;
    padding: 4rem 0;
    background-size: cover;

    &:nth-child(even) {
        .media__content {
            left: auto;
            right: 0;
        }
    }
}

.media {
    position: relative;
    
    &__content {
        position: relative;
        padding: 1.5rem 3.8rem;
        background: rgba(0, 0, 0, .9);
        color: white;

        @include mq("md") {
            width: 500px;
            position: absolute;
            top: 2rem;
            left: 0;
        }

        &__head {
            text-transform: uppercase;
            font-family: 'Tablon';
        }
    }

    &__title {
        margin: 0;
    }

    &__link {
        display: block;

        @include mq("md") {
            float: right;
        }
    }
}