.section-media {
    position: relative;
    padding: 0;
    z-index: 0;

    background: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq("md") {
        min-height: 800px;
    }

    &.left {
        background-position: top left !important;
    }

    .container {
        height: 800px;
        background-size: cover;
    }

    .separator {
        position: absolute;
        top: -25px;
        left: 0;
        width: 100vw;
        height: 50px;
        z-index: 10000;

        @include mq("md") {
            height: 200px;
            top: -100px;
            width: 100vw;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &:nth-child(even) {
        .media__content {
            left: auto;
            right: 2rem;
        }
    }
}

.media {
    position: relative;
    z-index: 1;
    
    &__content {
        position: relative;
        padding: 2rem;
        background: rgba(0, 0, 0, .9);
        color: white;

        @include mq("md") {
            width: 500px;
            position: absolute;
            top: 12rem;
            left: 2rem;
            padding: 1.5rem 3.8rem;
        }

        &__head {
            text-transform: uppercase;
            font-family: 'Tablon';
        }
    }

    &__title {
        margin: 0;
    }

    &__link {
        display: block;
        margin-top: 2rem;

        @include mq("md") {
            float: right;
        }
    }
}

#Calque_1 {
    image-rendering: crisp-edges;
  }