.nav {
    position: fixed;
    z-index: 10;

    &.nav-large {
        display: none;
        width: 100%;
        height: 80px;
        top: 0;
        backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, .3);
        box-shadow: $drop-shadow;

        @include mq("md") {
            display: block;
        }
    }

    &.nav-small {
        display: block;
        width: 100%;

        @include mq("md") {
            display: none;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .link {
            &:not(:last-child) {
                margin-right: 1rem;
            }
    
            &:first-child {
                flex: 1;
            }

            a, span {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.25rem;
                font-weight: 500;
                font-family: 'Tablon', sans-serif;
            }

            &.home a {
                display: flex;
                align-items: center;
                width: 100px;
                height: 80px;
            }
        }
    }

    &__medias {
        position: relative;
        
        @include mq("md") {
            height: 100%;
            display: flex;
            align-items: center;
        }

        span {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 500;
            font-family: 'Tablon', sans-serif;
        }

        &:hover {
            .nav__medias__box {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;

                &__category {
                    opacity: 1;
                    transform: translateX(0);
                    pointer-events: all;
                }
            }
        }

        &__box {
            position: absolute;
            z-index: 10;
            top: 100%;
            background: white;
            min-width: 400px;
            display: block;
            box-shadow: $drop-shadow;
            right: 0;
            transform: translateY(30px);
            opacity: 0;
            pointer-events: none;

            transition: all .3s ease-out;

            &__overflow {            
                overflow: hidden;
            }

            &__category {
                opacity: 0;
                transform: translateX(100%);
                margin-bottom: 1rem;
                font-family: 'Tablon';
                pointer-events: none;

                transition: all .3s ease-out;

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{($i * 0.05)}s;
                    }
                }

                h2 {
                    margin: 0;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    background: $dark-color;
                    color: white;
                    text-transform: uppercase;
                }

                li {
                    margin-top: 1rem;
                }
            
                a {
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    padding-left: 2rem;
                    color: black !important;
                    text-decoration: none;
                }
            }
        }
    }
}

.nav-small {
    overflow: hidden;

    &__button {
        position: fixed;
        z-index: 10;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        background: $dark-color;
        color: white;
        box-shadow: $drop-shadow;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 2px;
            background: white;
            margin-bottom: 5px;

            transition: all .3s ease;
        }

        .open & {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }

    &__medias__icon {
        display: inline-block;
        background-image: url('../images/arrow-down.svg');
        width: 20px;
        height: 20px;
        background-size: contain;

        transform: rotate(0deg);
        transition: all .3s ease-out;
    }

    .nav__medias__box {
        display: block;
        position: absolute;
        width: 100%;
        min-width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        top: 0 !important;

        transform: translateY(0);

        @include mq("md") {
            top: 3rem;
        }
    }

    &__content {
        position: fixed;
        right: -100%;
        height: 100%;
        overflow-y: scroll;

        transition: all .3s ease-out;

        li {
            opacity: 0;
            transform: translateX(100%);
            transition: transform .3s ease-out, opacity .3s ease-out;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: #{($i * 0.05)}s;
                }
            }
        }
    }
}

.open {
    .nav-small__content {
        top: 0;
        right: 0;
        width: 100vw;
        max-height: 100vh;
        background: $dark-color;
        overflow-y: scroll;
        overflow-x: hidden;

        .nav-small__content__list {
            padding: 2rem;
            padding-top: 6rem;
            padding-bottom: 3rem;

            li {
                text-align: right;
                margin-bottom: 2rem;
                opacity: 1;
                transform: translateX(0);
            }

            .nav__medias__box {
                position: absolute;
                pointer-events: none;
                right: -100%;
                transition: all .3s ease-out;
                position: relative;
                opacity: 1;
                pointer-events: all;

                .nav__medias__box__category {
                    transform: translateX(100%);
                    opacity: 0;
                    transition: all .3s ease-out;

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            transition-delay: #{($i * 0.05)}s;
                        }
                    }
                }
            }
        }

        .nav__medias__box__category {
            border-top: 1px solid #eee;
            margin: 0;
            padding-bottom: .5rem;

            h2 {
                font-size: 1.3rem;
            }

            .nav__medias__box__el {
                a {
                    padding: 0;
                    padding-right: 1rem;
                    font-size: 1.2rem;
                }
    
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }

        a, .nav__medias span {
            color: white;
            font-family: 'Tablon';
            font-size: 2rem;
            text-decoration: none;
        }

        .revealed {
            .nav-small__medias__icon {
                transform: rotate(180deg);
            }

            .nav__medias__box {
                pointer-events: all;
                height: auto;
                right: 0;
                opacity: 1;
        
                transform: translateX(0);
        
                .nav__medias__box__category {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}
