.news-page {
    padding-top: 7.6rem;
    height: 100vh;

    &.dark {
        background: $dark-color;
        color: #eee;

        aside {
            background: #eee;
            color: black;

            li {
                &:not(:last-child) {
                    border-bottom: 1px solid black;
                }
            }

            a {
                color: black;
            }
        }
    }

    h1 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 5rem;
        text-align: center;
        font-family: 'Tablon';

        @include mq("md") {
            font-size: 8rem;
        }
    }

    &__content {
        width: 100%;
        min-height: calc(59vh);
        margin-bottom: 2rem;

        @include mq("md") {
            width: calc(100% - 365px);
        }

        &__title {
            font-family: 'Tablon';
            margin-bottom: 0;
        }

        &__container {
            margin-top: 3rem;
        }

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    aside {
        width: 100%;
        padding: 2rem;
        background: $dark-color;
        color: white;
        box-sizing: border-box;

        @include mq("md") {
            width: 315px;
            float: right;
        }

        h2 {
            margin: 0;
            margin-bottom: 2rem;
            font-family: 'Tablon';
        }

        li {
            &:not(:last-child) {
                border-bottom: 1px solid white;
            }
        }

        a {
            display: block;
            width: 100%;
            margin-top: 1rem;
            padding-bottom: 1rem;
            color: white;
            text-decoration: none;

            h3, span {
                margin: 0;
            }

            h3 {
                font-family: 'Tablon';
            }
        }
    }
}