// Import fonts
@mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.ttf') format('truetype');
    }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap');
@include font('Tablon', '../fonts/Tablon-Medium');

// Import components
@import '_variables';
@import 'nav';
@import 'footer';

// Import pages
@import 'header';
@import 'indexmedia';
@import 'news';
@import 'medias';
@import 'univers';
@import 'glitch';


// Common styles

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
    min-height: 100vh;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    line-height: 140%;
}

button {
    border: none;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 2rem;
    @include mq("lg") {
        margin: 0 auto;
    }
}

.link-button {
    display: inline-block;
    margin-top: 2rem;
    background: white;
    padding: 1rem 2rem;
    color: $dark-color;
    text-decoration: none;
    font-family: 'Tablon', sans-serif;

    &__icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        background-image: url('../images/outsidelink.png');
        background-size: contain;
    }
}

.hidden {
    display: none;
}

.no-backdrop-blur {
    backdrop-filter: none !important;
}